h1{
    font-size: $text-xxlarge;
}

h2{
    font-size: $text-xlarge;
}

h3{
    font-size: $text-large;
}

h4{
    font-size: $text-medium;
}

h5{
    font-size: $text-norm;
}

h6{
    font-size: $text-small;
}

.html{
    color: $html;
}

.css{
    color: $css;
}

.javascript{
    color: $js;
}

.node{
    color: $node;
}

.python{
    color: $py;
}

.react{
    color: $react;
}

.npm{
    color: $npm;
}

.github{
    color: $github;
}

.less{
    color: $less;
}

.sass{
    color: $sass;
}

.sql{
    color: $sql;
}

.hide{
    display: none;
}

.bio-box{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $small-pc) {
        flex-direction: column;
    }

    .info-box{
        padding: 10px;
        width: 365px;
        text-align: center;
        // border: 1px solid grey;
        img{
            margin-top: 10px;;
            height: 200px;
            border-radius: 50%;
        }

        p{
            margin-top: 8px;;
        }
        
        .github-link{
            font-size: $text-medium;
            
        }

        .github-icon{
            font-size: $text-xlarge;
        }

        .bio{
            font-size: $text-norm;
        }

        .location{
            font-size: $text-norm;
        }

        .socal-links{
            display: flex;
            justify-content: space-evenly;
            font-size: $text-norm;
            color: $modern-secondary;
            
        }

        .twitter{
            color: $twitter;
            font-size: $text-norm;
            text-shadow: 1px 1px #000000;
        }

        .linkedin{
            color: $linkedin;
            font-size: $text-norm;
            text-shadow: 1px 1px #000000;
        }
    }

    .stat-box{
        //align-self: center;
        padding: 20px;
        max-width: 640px;

        .contributions{
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            img{
                height: 90px;
            }

            @media (max-width: $tablet) {
                img{
                    height: 60px;
                }
            }
        }

        .stats{
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            font-size: $text-norm;
        }

        .long-bio{
            padding-top: 20px;
            margin-left: 12px;
            font-size: $text-small;
            line-height: 16px;
        }

        // .skills{
        //     margin-top: 20px;
        //     display: flex;
        //     justify-content: space-evenly;
        //     flex-wrap: wrap;
        //     font-size: $text-xxxlarge;

        //     div{
        //         padding:10px;
        //         text-align: center;
        //     }

        //     // p{
        //     //     font-size: $text-norm;
        //     // }

        //     // p{
        //     //     margin: 10px
        //     // }
        // }

        

    }

    

}

.skill-descript{
    font-size: $text-large;
    margin-top: 15px;
    text-align: center;
    @media (max-width: $tablet) {
        font-size: $text-norm;
    }
    @media (max-width: $phone) {
        font-size: $text-small;
    }
}


.skills{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: $text-large;

    .skill-item{
        position: relative;
        width: 97px;
        height: 70px;
        padding:10px;
        text-align: center;
        
    }

}

.hover-show{
    display: none;
}

.icon-hover{

    &:hover{
        //font-size: $text-xxlarge;
        transform: scale(1.5, 1.5);

        .hover-show{
            display: block;
            
        }
    }
}

.profile-change{
    //margin-top: 20px;
    padding: 10px;
    display: flex;
    p{
        margin-top: 5px;
        margin-left: 10px;
        // width: 220px;
        font-size: $text-small;
    }
}

.theme-ui{
    display:flex;
    justify-content: space-around;
}

.change-theme{
    font-size: $text-xlarge;
    padding-left: 10px;
    display:flex;

    p{
        margin-right: 15px;
    }

    select{
        margin-top: 6px;
        width: 90px;
        height: 25px;
    }
}

.vote-theme{
    display: flex;
    font-size: $text-norm;
    color: $modern-light;
    padding-top: 4px;

    p{
        margin-right: 15px;
        padding-top: 4px;
    }

    button{
        height: 25px;
    }
}
